.upper-layer {
  display: flex;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  position: relative;
/* Setting the size of the upper layer to 80% of the screen size*/

height:100%;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  padding-right: 100px;
  padding-left: 100px;
padding-top : 200px;
/*the alpha value controls the transparency*/
  background: rgba( 255, 255, 255, 0.3 );

/* This controls the blurring effect*/
backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 7.5px );

/*Adding the shadow*/
box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.18 );

/* Adding our borders*/
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  z-index: 4;
}